<p style="margin:0 0 20px 0">Hi <b style="color:#000"><%= @user.name_or_email %></b>,</p>
<p>This email was sent to you because our servers received a password reset request from you. <br><br>

We regret to inform you that for security reasons, we do not release any passwords. Please click on the link below to reenter a new password for your account.<br><br /><br />

<b>Click on the link below to enter a new password for your account.<br>
<a style="color:#00C6FF;" href="<%= Yetting.domain %>/password_reset?token=<%= @confirmation.token %>"><%= Yetting.domain %>/password_reset?token=<%= @confirmation.token %></a>
</b><br /><br />
Please ignore this email if this email was sent erroneously to you and that you did not request for a change of password.
