%h2
  Add new contact:
%br

- form_tag send_request_contacts_path, :method => :post, :id => "new_contact_form" do 
  %div.field_line
    %div.field_label
      Email * :
    %div.field_box
      = text_field_tag :contact_email
  %div.clr

  %div.field_line
    %div.field_label
      First name :
    %div.field_box
      = text_field_tag :contact_firstname
  %div.clr

  %div.field_line
    %div.field_label
      Last name :
    %div.field_box
      = text_field_tag :contact_lastname
  %div.clr

  %div.field_line
    %div.field_label
      Expertise :
    %div.field_box
      = text_field_tag :contact_expertise
  %div.clr
  
  %div.field_line
    %div.field_label
      Message :
    %div.field_box
      = text_area_tag :contact_message, "Hi,\n\n I would like to be one of your friends at Etroduce. \n\nThanks! \n\n #{current_user.firstname.titleize}"
  %div.clr

  %div.field_line
    %div.field_label
    %div.field_box
      %span{ :style => "color: red"}
        *
      Required fields
  %div.clr
  

  
  %div.field_line
    %div.field_label
    %div.field_box
      = submit_tag "Send an Invitation"
      = link_to "Cancel", contacts_path

:javascript

  $("#new_contact_form").bind('submit', function() {
    
    if ($("#contact_email").val().length < 1) {
      alert("Please enter your friends email address.");
      $("#contact_email").focus();
      return false;
    }else{
      return true;
      $('input[type=submit]', this).attr('disabled', 'disabled');      
    }
    

  });