<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>Zigzeg - ADMIN CMS</title>
<meta name="robots" content="noindex">
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<!-- favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico" />
  
   <%= stylesheet_link_tag "style" %>
   <%= stylesheet_link_tag "user" %>
	 
  <%= stylesheet_link_tag "tables" %>
   <%= stylesheet_link_tag "/javascripts/themes/base/jquery.ui.tabs.css" %>
   <%= stylesheet_link_tag "demo_table" %>
   <%= stylesheet_link_tag "/javascripts/themes/base/jquery.ui.tabs.css" %>
   <%= stylesheet_link_tag "/javascripts/themes/ui-lightness/jquery.ui.theme.css" %>
   <%= stylesheet_link_tag "/javascripts/themes/ui-lightness/jquery.ui.datepicker.css" %>

   

   <!--[if IE]>
     <%= javascript_include_tag "ie-fix" %>
   <![endif]-->  

  <!--Load Scripts-->
  <%= javascript_include_tag "jquery-1.6.2" %>
  <%= javascript_include_tag "ui/jquery.ui.core.js" %>
  <%= javascript_include_tag "ui/jquery.ui.widget.js" %>
  <%= javascript_include_tag "ui/jquery.ui.mouse.js" %>
  <%= javascript_include_tag "ui/jquery.ui.tabs.js" %>
  <%= javascript_include_tag "jquery.validate" %>
  <%= javascript_include_tag "ui/jquery.ui.accordion" %>  
  <%= javascript_include_tag "ui/jquery.ui.time" %>  
  <%= javascript_include_tag "admin" %>
  <%= javascript_include_tag "fileuploader" %>
  <%= javascript_include_tag "ui/jquery.ui.datepicker.js" %>
  <%= javascript_include_tag "jquery.dataTables.min.js" %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
  
  <script>
	$(function() {	
		$("#companyFrm").validate({
				submitHandler: function(form) {
					 $('.grayLoader').show().delay(300).fadeOut(300);
				}	
		});
		$( ".accordion" ).accordion({
			autoHeight: false,
			navigation: true,
			collapsible: true,
			header: "a.accordTitle",
			active: false,
			 changestart: function(event, ui){
                var clicked = $(this).find('a.accordTitle');
								if(!clicked.hasClass('ui-state-active')){
										var contentDiv = $(this).find('div.content');
										contentDiv.load(clicked.attr("href"));
									//alert('('+clicked.attr("data-id")+') is the data_id to retrieve the data of this element to populate the form')
					}		
        }
		});
	});
	</script>

  
  <script type="text/javascript" charset="utf-8">
			function fnFilterColumn (id,i ){
					$('#example').dataTable().fnFilter($(id).val(),i,true,true,false);
			}
			function fnFilterLetter(val,i ){
				$('#example').dataTable().fnFilter("^"+val+"",i,true,true,true);
			}
			$(document).ready(function() {
				var oTable = $('#example').dataTable({
        "sPaginationType": "full_numbers",

<% if controller_name == "users" %>
				"aoColumns": [null,null, { "bSortable": false }, { "bSortable": false }, { "bSortable": false },{ "bSortable": false },null,null,null], 
<% else %>
				"aoColumns": [{"bSortable": true,"sWidth":"20%"},{"bSortable": true,"sWidth":"5%"},{"bSortable": true,"sWidth":"15%"}, { "bSortable": false,"sWidth": "10%" }, { "bSortable": false ,"sWidth": "30%"}, { "bSortable": false },{ "bSortable": false },{ "bSortable": false },{ "bSortable": false },null,null,null], 
<% end %>

				//"aaSorting": [[0, 'asc']],
    		});

    		<% if controller_name == "users" %>
				$("#accounts_filter").change( function() { fnFilterColumn('#accounts_filter',6 );	});
				<% end %>

        <% if controller_name == "advertisers" %>
				$("#accounts_filter").change( function() { fnFilterColumn('#accounts_filter',8 );	});
        $("#business_accounts_filter").change( function() { fnFilterColumn('#accounts_filter',6 ); } );
        $("#category_filter").change( function() { fnFilterColumn('#category_filter',7 ); } );
        $("#sub_filter").change( function() { fnFilterColumn('#sub_filter',8 ); } );
        <% end %>

        
				$(".filterLetter").click( function() {
					$("a.filterLetter.selected").removeClass('selected');
					$(this).addClass('selected'); 
					var value = $(this).attr('data-id');
					fnFilterLetter(value,0); } 
				);
				
			} );
		</script>
</head>
<body>
 <noscript><div class="ns">Your browser does not support JavaScript!</div></noscript>  
<div class="advertheader adminheader">
<div class="fcontainer_12 pad_bot20" id="topArea">
<div class="grid_0 align_right pad_bot">
  Signed in as 
  <a href="/admin" id="signUpLink" name="modal" class="white"><%= current_user.name_or_email %></a>&nbsp;&nbsp;
  [<a href="/signout" class="gray cursor">Log-out</a>]
  </div>
</div>

		<form action="submit.php" method="post" > 
      <div class="fcontainer_12 pad_top pad_bot">
        <!--start header-->
          <header id="header" class="fgrid_12 clearfix ">
            <!--start logo-->
            <div id="logow" class="grid_3 alpha push_3">
                <a href="<%= admin_url %>"></a>      	
            </div>
              <!--end logo-->
                        <!--start navigation-->
              <div id="nav" class="grid_9 omega fright width90" align="right">
               <input type="text" name="search" class=""  id="search" placeholder="Search..."> 
               <input type="submit" name="btnSearch" class="fancybutton wider small_shadow margin_left_20 blkBg radius5" value="search">
              </div>
              <!--end navigation-->
          </header>
      </div>
      <div class="clearfix"></div>
		</form>
		
    <%= render :partial => "/admin/top_menu"%>		
    
</div>

<!--start page_wrap-->
<div id="page_wrap" class="admincms fcontainer_12 clearfix top pad_bot20 user">

    <!--start content-->
    <%= yield %>
    <!--end content-->
   <div class="clear pad_bot"></div>
</div>
<!--end page_wrap-->
  <div class="container_12 pad_top" style="">
  <div class="bar"></div>
	<!--start footer-->
   <footer id="footer" class="grid_12">
   			<div class="grid_6 alpha ">
        	<ul class="footerNav pad_top">
          <li><a href="">About zigzeg</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Help</a></li>
          <li><a href="">Career</a></li>
          </ul>
        </div>
        
        <div class="grid_6 omega align_right">	
   			<p>Copyright © <%= Time.now.year %> Zigzeg.com
        </p>
   		</div>
   </footer>
   
   <!--end footer-->
  </div> 


  <div id="boxes">
    <div id="accountSettings" class="window">
      <div class="arrowTop"></div>
      <h2 class="lgray margin_left_10">Account Settings</h2>
      <div class="line"></div>
      <div>
        <ul class="margin_left_20">
          <li><a href="" >Highlight</a></li>
          <li><a href="" >Update/Edit Profile</a></li>
          <li><a href="" >My Favorite</a></li>
          <li><a href="" >History</a></li>
          <li><a href="" >Settings</a></li>
        </ul>
      </div>

  	  <div id="setStatus" class="window whiteBox">
        <div class="container_12">
          <form class="form">
      	    <div class="grid_11 bold">Set payment status</div>
          	<div class="grid_1"><a class="cursor orange close">close</a></div>
            <div class="grid_12 orange">Basic -Monthly - 30/10/2011</div>
            <div class="grid_12">Payment Type</div>
            <div class="grid_12"><input type="text" class="radius5"></div>
            <div class="grid_12">Reference Number</div>
            <div class="grid_12"><input type="text" class="radius5"></div>
            <div class="grid_12 pad_top"><input type="submit" class="checkButton cursor removeSelected white" value="Set status to paid" ></div>
          </form>
        </div>  
      </div> 

    	<div id="imagePop" class="window whiteBox">
        <div class="container_12">
          <form class="form" id="imageGalFrm">
            <div class="grid_4">
              <img src="/images/1.png" width="100">
              <br><br>
              <input type="submit" class="checkButton cursor removeSelected white pad_top20 half" value="Save" >
            </div>
            <div class="grid_8">
              <input type="hidden" name="image_id" id="image_id">
              <div class="container_12">
                <div class="grid_12">Image file</div>
                <div class="grid_12"><input type="file" class="dispNone fileBrowser"><input type="text" class="radius5 full required"></div>
                <div class="grid_12">Image Title</div>
                <div class="grid_12"><input type="text" class="radius5 full required"></div> 
                <div class="grid_12">Image Description</div>
                <div class="grid_12"><textarea rows="5" class="full required"></textarea></div>        
              </div>
            </div>
            <div class="grid_12"><a href="">delete</a></div>
          </form>
        </div>  
      </div>
      <div id="mask"></div>
    </div>  
</body>
</html>
