<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>Zigzeg - ADMIN CMS</title>
<meta name="robots" content="noindex">
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<!-- favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico" />

  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "user" %>
  <%= stylesheet_link_tag "/javascripts/themes/base/jquery.ui.tabs.css" %>
  <%= stylesheet_link_tag "/javascripts/themes/ui-lightness/jquery.ui.theme.css" %>
  <%= stylesheet_link_tag "/javascripts/themes/ui-lightness/jquery.ui.base.css" %>
  <%= stylesheet_link_tag "/javascripts/themes/ui-lightness/jquery.ui.datepicker.css" %>

  <!--[if IE]>
   <%= javascript_include_tag "ie-fix" %>
  <![endif]-->  

 <%= javascript_include_tag "jquery-1.6.2" %>
 <%= csrf_meta_tag %>

 <script type="text/javascript"
   src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDJT0nwhhhJuvHJC8yN0DqLcc5GNAlXRYs&sensor=true">
 </script>

</head>
<body>
<noscript><div class="ns">Your browser does not support JavaScript!</div></noscript> 
<%= yield %>

 <!--Load Scripts-->
 <%= javascript_include_tag "ui/jquery.ui.core.js" %>
 <%= javascript_include_tag "ui/jquery.ui.widget.js" %>
 <%= javascript_include_tag "ui/jquery.ui.mouse.js" %>
 <%= javascript_include_tag "ui/jquery.ui.tabs.js" %>
 <%= javascript_include_tag "jquery.validate" %>
 <%= javascript_include_tag "admin" %>
 <%= javascript_include_tag "fileuploader" %>
 <%= javascript_include_tag "ui/jquery.ui.datepicker.js" %> 
 <%= javascript_include_tag 'rails' %>
</body>
</html>
