<!DOCTYPE HTML>
<html lang="en" ><head>
<meta charset="utf-8" />
<title>ZIGZEG <%= "- #{@page_title}" unless @page_title.nil? %></title>
<meta name="robots" content="noindex">
<<<<<<< HEAD
<meta name="keywords" content='<%= "- #{@page_key}" unless @page_key.nil? %>'>
<meta name="description" content='<%= "- #{@page_desc}" unless @page_desc.nil? %>'>
=======
<meta name="keywords" content="<%= "- #{@page_key}" unless @page_key.nil? %>">
<meta name="description" content="<%= "- #{@page_desc}" unless @page_desc.nil? %>">
>>>>>>> 552fb8504cfe6060065c49840d42a8cdf2182145
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<%= javascript_include_tag "modernizr.custom.js" %>

<!-- favicon -->
<link rel="shortcut icon" href="/images/favicon.ico" />

<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "page" %>
<%= stylesheet_link_tag "/javascripts/fancybox/jquery.fancybox-1.3.4.css", :media => "screen" %>
<%= stylesheet_link_tag "/javascripts/themes/base/jquery.ui.all.css" %>

<%= javascript_include_tag "jquery-1.6.2" %>

<%= javascript_include_tag 'rails' %>
<%= csrf_meta_tag %>
 <script>
$(document).ready(function() {
	 $('#helpList ul').hide();
  $('#helpList li div').click(
    function() {
      var checkElement = $(this).next();
			$('#helpList li div').removeClass('selected');
      if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
				checkElement.slideUp('normal');
				$(this).removeClass('selected');
        return false;
        }
      if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
        $('#helpList ul:visible').slideUp('normal');
        checkElement.slideDown('normal');
				$(this).addClass('selected');
				window.location.hash = $(this).attr('id');
	      return false;
        }
      }
    );
});
$(window).load(function () {
	if($(window.location.hash).length) {
		$(window.location.hash).click();
	}
});

	</script>
  	<!--[if IE]>
     <%= stylesheet_link_tag "ie-fix" %>
     <%= javascript_include_tag "ie-fix" %>
    <![endif]-->
</head>
<body>
<noscript><div class="ns">Your browser does not support JavaScript!</div></noscript> 
<div class="loginBar BigblkBg pgTop">
 		<div class="fcontainer_12" id="topArea">
    		<%= render "/globals/top_place" %>
		</div>
</div>
<div class="bgGray pad_top20 bg_show pageHeight">
<div id="topArea" class="fcontainer_12">
	<div class="container_12 full">
			<%= render "/globals/top_links" %>
	</div>
</div>
 <%= yield %>
 
<%= render "/globals/footer" %>


<div id="boxes">
  <%= render "/globals/modal_login" %>
  <%= render "/globals/modal_forget" %>
  <%= render "/globals/modal_signup" %>
  <%= render "/globals/modal_settings" %>
  <%= render "/globals/modal_updates" %>
  <div id="mask"></div>
</div>
<!--Load Scripts-->
	
<%= javascript_include_tag "jquery.home" %>
<%= javascript_include_tag "ui/jquery.ui.core.js" %>
<%= javascript_include_tag "ui/jquery.ui.widget.js" %>
<%= javascript_include_tag "ui/jquery.ui.mouse.js" %>
<%= javascript_include_tag "ui/jquery.ui.tabs.js" %>
<%= javascript_include_tag "jquery.validate" %>
<%= javascript_include_tag "fancybox/jquery.fancybox-1.3.4.js" %>
<%= javascript_include_tag "jquery.rating" %>
<%= javascript_include_tag "jquery.preloader" %>
<%= javascript_include_tag "common" %>
<%= javascript_include_tag "#{Yetting.main_domain}:9292/faye.js" %>
<%= javascript_include_tag 'application' %>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e9d07ee4d191140"></script>  
<%= render "/globals/analytics" %>
</body>
</html>
