<!DOCTYPE HTML>
<html lang="en" ><head>
<meta charset="utf-8" />
<title>Zigzeg - <%= (@listing.name rescue '') %></title>
<meta name="robots" content="noindex">
<meta name="keywords" content="<%= "#{@page_key}" unless @page_key.nil? %>">
<meta name="description" content="<%= "#{@place.description}" unless @place.description.nil? %>">
<%= javascript_include_tag "modernizr.custom.js" %>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<!-- favicon -->
<link rel="shortcut icon" href="/images/favicon.ico" />
<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "place" %>
<% if action_name == "preview" %>
	<%= stylesheet_link_tag "preview" %>
<% end %>

<%= stylesheet_link_tag "/javascripts/fancybox/jquery.fancybox-1.3.4.css", :media => "screen" %>
<%= stylesheet_link_tag "/javascripts/themes/base/jquery.ui.tabs.css" %>
<%= javascript_include_tag "jquery-1.6.2" %>
<%= javascript_include_tag "fancybox/jquery.fancybox-1.3.4.js" %>
<%= javascript_include_tag "jquery.home" %>
<%= javascript_include_tag "ui/jquery.ui.core.js" %>
<%= javascript_include_tag "ui/jquery.ui.widget.js" %>
<%= javascript_include_tag "ui/jquery.ui.mouse.js" %>
<%= javascript_include_tag "ui/jquery.ui.tabs.js" %>
<%= javascript_include_tag "jquery.validate" %>
<%= javascript_include_tag "jquery.rating" %>
<%= javascript_include_tag "jquery.preloader" %>
<%= javascript_include_tag "common" %>
<%= javascript_include_tag "page" %>
<%= javascript_include_tag "endPage" %>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e9d07ee4d191140"></script>            
<%= javascript_include_tag 'rails' %>
<%= csrf_meta_tag %>
<!--[if IE]>
  <%= javascript_include_tag "ie-fix" %>
<![endif]-->
</head>
<body>
<noscript><div class="ns">Your browser does not support JavaScript!</div></noscript> 
<div class="loginBar">
 		<div class="fcontainer_12" id="topArea">
    		<%= render "/globals/top" %>
		</div>
</div>
<div class="bgGray pad_top20">
<!-- START SEARCH FORM -->
  <%= render "/globals/searchform" %>
<!-- END SEARCH FORM-->
<div class="BigblkBg" id="topLine">
  <div class="fcontainer_13 clearfix ">
  <!--start intro text-->
    <section id="intro" class="fgrid_12">
    <div class="fleft alpha pad_bot width70">
		
        	 <div class="lovethis relative" align="center">
<%= image_tag(@place.profile_image.image.url(:profile), :class => "bigshadow radius15 image relative", :size => "206x158") rescue '' %>
         	 </div>
          	<div class="full_width margin_left_20">
         	  <!-- text auto fill area-->
            <div class="jtextfill white" title="<%= @place.name %>">
	      <span><%= @place.name %></span><br>

    <% if action_name == "preview" %>
      <div class="pad absolute half emptyBg">&nbsp;</div>
    <% end %>
						<div class="fleft"> 
					 		<div class="addthis_toolbox addthis_default_style no_margin fleft">
								<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
								</div>
           		</div>
					 <div class="fleft">
					 <span class="bgDivider">&nbsp;</span>
					      <a href="#loginMessage" id="zigMessagePop" name="modal" class="absolute"></a>
				 <% unless current_user.nil?%>
				<% if @place.user_id == current_user.id %>	
					<a id="ownZig" class="zigThis cursor zigged" data-id="<%=@listing.id rescue ''%>">
					ZIG THIS</a><div class="clearfix"></div>
					<span id="msgZigAdd" class="normal dispNone">Sorry, 'zig this' not allowed as this page belongs to you.</span>
				<% else %>							
					<a id="zigMe" class="zigThis cursor <%= show_zigged_class(@listing) unless @listing.nil? %>" data-id="<%=@listing.id rescue ''%>">
					<% unless @listing.nil? %>
						<% if (show_zigged_class(@listing)=='zigged') %>
							ZIGGED
						<% else %>
							ZIG THIS
						<% end %>		
					<% else %>
						ZIG THIS
					<% end %></a>
					<span id="msgZigAdd" class="normal dispNone">added to ziglist</span>
				<% end %>
				<% else %>
				<a id="zigMe" class="zigThis cursor <%= show_zigged_class(@listing) unless @listing.nil? %>" data-id="<%=@listing.id rescue ''%>">
					<% unless @listing.nil? %>
						<% if (show_zigged_class(@listing)=='zigged') %>
							ZIGGED
						<% else %>
							ZIG THIS
						<% end %>		
					<% else %>
						ZIG THIS
					<% end %></a>
					<span id="msgZigAdd" class="normal dispNone">added to ziglist</span>
				<% end %>
				
              </div> 
						  
						</div>
          </div>
        </div>
	<div class="fright omega pad_top">
	  <% if @place.deals.length > 0 %>
          <a href="#offersTitle" class="scrollListings">
            <div class="depBox colorDeals relative">
	      <small class="segoe"><%= @place.pub_deals.length %></small>
              <div class="white"><p class="white">offer<% if @place.pub_deals.length > 1 %>s<% end %></p></div>
            </div>
	  </a>
	<% else %>
            <div class="depBox colorDeals relative nohover">
	      <small class="segoe">N/A</small>
              <div class="white"><p class="white">offer</p></div>
            </div>
	<% end %>

          <div class="depBox colorBranches relative nohover">
	    <small class="segoe">N/A</small>
            <div class="white"><p class="white">branch</p></div>
          </div>

          <% if @place.events.length > 0 %>
          <a href="#eventsTitle" class="scrollListings">
          <div class="depBox colorEvents relative">
	    <small class="segoe"><%= @place.pub_events.length %></small>
            <div class="white"><p class="white">event<% if @place.pub_events.length > 1 %>s<% end %></p></div>
          </div>
	  </a>
          <% else %>
          <div class="depBox colorEvents relative nohover">
	    <small class="segoe">N/A</small>
            <div class="white"><p class="white">events</p></div>
          </div>
	<% end %>

        </div>         
    </section>
    <!--end intro text-->
</div>
</div>
</div>
<!-- end bg gray  -->
<% if action_name == "preview" %>
<script language="javascript" type="text/javascript"> 
function closeWindow() { 
 		window.open('','_self');
    window.close();

} 
</script>
<div class="previewCon">
<div class="full white previewFloat">
		<div class="container_12">
				<div class="grid_3"><h1 class="bold white margin_left_20">PAGE PREVIEW</h1></div>
				<div class="grid_4 pad_top2">This is a sample of your Place page</div>
				<div class="grid_2 fright" align="center"> <input type="button" onclick="closeWindow();" value="CLOSE PREVIEW" id="closePrev" class="radius5 cursor" name="close_preview"></div>
		</div>
</div>
</div>
<% end %>
<!--start page_wrap-->
<div class="fcontainer_13 clearfix  relative">
  <!-- start breadcrumbs  -->
  <%= render :partial => "/globals/bread_crumbs", :locals => { :place => @place} %>
  <div class="clear"></div>
    
  <!--start content-->
  <section id="content" class="fgrid_12 clearfix">
    <%= yield %>
    <% if action_name == "preview" %>
      <%= render :partial => "/places/sidebar_preview", :locals => { :place => @place } %>
    <% else %>
      <%= render :partial => "/places/sidebar", :locals => { :place => @place } %>
    <% end %>
  </section>
  <!--end content-->
  <div class="clear"></div>
</div>
</div>
<!--end page_wrap-->

<%= render "/globals/footer" %>
<%= render :partial =>  "/globals/contact_form", :locals => { :place => @place } %>

<div id="boxes">
  <%= render "/globals/modal_login" %>
  <%= render "/globals/modal_forget" %>
  <%= render "/globals/modal_signup" %>
  <% if action_name != "preview" %>
   <%= render "/globals/modal_report" %>
  <% end %>

  <%= render "/globals/modal_settings" %>
  <%= render "/globals/modal_updates" %>

  <div class="dispNone">

    <div id="dealsDialog" class="fwidth_600">
      <h3 class="segoe"><a href="#">Offers by <%= @place.name %></a></h3> 
      <div class="hr"></div>
      <ul class="contentList">
      <% @place.deals.each do |deal| %>
        <li class="deals">
          <div class="margin_left_10"><strong><%= link_to deal.name, form_url(deal) %></strong>
	    <p><%= deal.description %> </p>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
  
    <div id="branchesDialog" class="fwidth_600">
      <h3 class="segoe"><a href="#">BRANCHES of <%= @place.name %></a></h3> 
      <div class="hr"></div>
    </div>
  
    <div id="eventsDialog" class="fwidth_600">
      <h3 class="segoe"><a href="#">Events by <%= @place.name %></a></h3> 
      <div class="hr"></div>
      <ul class="contentList">
        <% @place.events.each do |event| %>
        <li class="events">
	  <div class="margin_left_10"><strong><%= link_to event.name, form_url(event) %></strong>
	    <p><%= event.description %> </p>
          </div>
        </li>
        <% end %>
      </ul>
    </div>   
		 <div id="announceDialog" class="fwidth_600">
      <h3 class="segoe announceTitle"></h3> 
      <div class="hr"></div>
			<div class="announceContent"></div>
    </div>
  
  
  </div>    
 
  <!-- Mask to cover the whole screen -->
  <div id="mask"></div>
</div>

<% unless current_user.nil? %>
  <script>
    var global_user_id = <%= current_user.id %>
  </script>
<% end %>

 <%= javascript_include_tag "#{Yetting.main_domain}:9292/faye.js" %>
 <%= javascript_include_tag 'application' %>

<%= render "/globals/analytics" %>
</body>
</html>
