<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>ZIGZEG for Business - <%= @page_title rescue '' %></title>
<meta name="robots" content="noindex">
<meta name="keywords" content="">
<meta name="description" content="">

  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "user" %>
  <%= stylesheet_link_tag "/javascripts/fancybox/jquery.fancybox-1.3.4.css", :media => "screen" %>
  <%= stylesheet_link_tag "/javascripts/themes/ui-lightness/jquery.ui.theme.css" %>
  <%= stylesheet_link_tag "/javascripts/themes/ui-lightness/jquery.ui.base.css" %>
	
	<!--[if IE]>
	 <%= javascript_include_tag "ie-fix" %>
	<![endif]-->  

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDJT0nwhhhJuvHJC8yN0DqLcc5GNAlXRYs&sensor=true"></script>
  <!--Load Scripts-->
	
	<%= javascript_include_tag "jquery-1.6.2" %>
  <%= javascript_include_tag "jquery.autocomplete.pack" %>
  <%= javascript_include_tag "ui/jquery.ui.core.js" %>
  <%= javascript_include_tag "jquery.validate" %>
  <%= javascript_include_tag "ui/jquery.ui.datepicker.js" %>
  <%= javascript_include_tag "ui/jquery.ui.time.js" %>
  <%= javascript_include_tag "cufon" %>
  <%= javascript_include_tag "qunit" %>
  <%= javascript_include_tag "fileuploader" %>
  <%= javascript_include_tag "welcome" %>
  <%= javascript_include_tag "fancybox/jquery.fancybox-1.3.4.js" %>  
  <%= javascript_include_tag "map" %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>
<noscript><div class="ns">Your browser does not support JavaScript!</div></noscript> 
<div class="advertheader">
<div class="loginBar pages">
 		<div class="fcontainer_12" id="topArea">
      <%= render "/globals/top_welcome" %>
    </div>
</div>
<div class="pad_bot20" >&nbsp;</div>
     <div class="fcontainer_12 menuTabsContain">
       <ul class="menu_tabs fleft">
        		<a class="selected stepsBg"><li>Welcome</li></a>
        </ul>
    </div>

</div>
<div class="stepsWrapper <%= set_package_css(current_user.recent_package_subscribed) %>">
<div class="fcontainer_12">
	<div class="stepContain full_width <%= (action_name == "complete") ? "selected" : "" %>"><span class="last"></span>
       <ul class="steps">
       			<li class="step1x selected"><a data-id="1" class="nextStep noDecor">WELCOME</a><span>1</span></li>
       			<li class="step2x <%= (["create_page","category_page","gallery_page", "complete"].include?(action_name)) ?
"selected" : "disabled" %>"><a data-id="2" class="nextStep noDecor">CREATE PAGE</a><span>2</span></li>
						<li class="step3x <%= (["gallery_page","category_page", "complete"].include?(action_name)) ? "selected" :
"disabled" %>  "><a data-id="3" class="nextStep noDecor">CATEGORY & FEATURES</a><span>3</span></li>
						<li class="step4x <%= (["gallery_page", "complete"].include?(action_name)) ? "selected" : "disabled"
%>"><a data-id="2" class="nextStep noDecor">IMAGE GALLERY</a><span>4</span></li>
       			<li class="step5x <%= (action_name == "complete") ? "selected" : "disabled" %>"><a data-id="3" class="nextStep
noDecor">COMPLETE</a><span>5</span></li>
       </ul>
  </div>
</div>
</div>
<!--start page_wrap-->
<div id="page_wrap" class="fcontainer_12 clearfix top <%= set_package_css(current_user.recent_package_subscribed) %>">
  <%= yield %>
   <div class="clear pad_bot"></div>
</div>
<!--end page_wrap-->
<div class="container_12 pad_top" style="">
<div class="bar"></div>
  <!--start footer-->
  <footer id="footer" class="grid_12 pad_bot30">
    <div class="grid_6 alpha ">
      &nbsp;
        </div>
        
        <div class="grid_6 omega align_right">	
   			<p>Copyright © <%= Time.now.year %> Zigzeg.com
        </p>
   		</div>
   </footer>
   <!--end footer-->
 </div>  
 <!--Load Scripts-->
 	 <div id="boxes">
	 		<div id="accountSettings" class="window radius0 white">
  		<% unless current_user.nil? %>
      <div class="container_12 full">
      		<a href="<%=  logout_path %>" ><div class="bold bTop">Logout</div></a>
      </div>
      <% end %>
      </div>

        <div id="cmpDialog" class="window comparison" >
       				<div class="lgray"><p class="helpContent"></p></div>
             <div class="arrowDown"></div>     
        </div>
					<div id="imgRec" class="window comparison" >
       				<div class="lgray imgRec"><p class="helpContent"></p></div>
             <div class="arrowDown"></div>     
  				</div>
				<div id="galleryInfo" class="window comparison">
       				<div class="lgray">
              <h6 class="white">Image Gallery</h6>
              <p>Our image gallery allows you to display images related to the products you sell, the services your offer, the
brands you carry and other images about your business that you would like to show others.<br><br>Each image you upload allows you
to add a name and a description to it by clicking on the edit button directly below the uploaded image. This allows others to better understand the products, services and brands that your
business offers.</p>
              </div>
             <div class="arrowLeft"></div>     
      </div>	
			<div id="galDialog" class="window comparison">
       				<div class="contents"><h5 class="lgray">&nbsp;</h5>
                  <p>&nbsp;</p></div>
             <div class="arrowDown"></div>     
        </div>
<div id="mask">&nbsp;</div>
   </div>
<img src="/images/grayloader.gif" width="1" height="1" class="opacity0">

<%= render "/globals/analytics" %>
</body>
</html>
