%h3 Users:
= link_to "Add", new_user_path

%table
  - count = 0
  - @users.each do |user|
    - count += 1
    %tr
      %td
        = "#{count} )"
      %td{ :width => "200" }
        = user.fullname
      %td{ :width => "150" }
        = user.email
      %td{ :width => "150" }
        = user.author_name
      %td{ :width => "60" }
        = user.role_code
      %td
        = link_to "Reset password", resetpassword_user_path(user)
        = link_to "Edit", user_path(user)
        = link_to "Delete", user_path(user), :method => :delete, :confirm => "Are you sure?"
