%h3 Edit user:

- form_tag user_path(@user), :method => :put do |f|
  %table
    %tr
      %td
        Firstname:
      %td
        = text_field_tag "user[firstname]", @user.firstname
    %tr
      %td
        Lastname:
      %td
        = text_field_tag "user[lastname]", @user.lastname
    %tr
      %td
        Email:
      %td
        = text_field_tag "user[email]", @user.email
    %tr
      %td
      %td
        = submit_tag "Update User"
        = link_to "Cancel", users_path

