%h2
  Add new opportunity:
%br

- form_for :opportunity, @opportunity, :url => myopportunities_path, :method => :post, :html => { :id => "new_opportunity_form", :multipart => true } do |f|
  %div.field_line
    %div.field_label
      Title :
    %div.field_box
      = f.text_field :subject, :style => "width: 540px"
  %div.clr
  %div.field_line
    %div.field_label
      Category :
    %div.field_box
      %ul{:class => "category"}
        - @categories.each do |cat|
          -istrue = @categories.index(cat) == 0 ? true : false
          %li{ :class => "selectable"}
            = f.radio_button "category_id", cat.id, :onclick => "toggle_price('#{cat.code}');"
            = label_tag "category_id", cat.name, :for => "opportunity_category_id_#{cat.id}" ,:onclick => "toggle_price('#{cat.code}');", :style => "cursor: pointer; padding-right: 40%;"
  %div.clr

  %div{:id => 'price_div'}
    %div.field_line
      %div.field_label
        Price (USD) :
      %div.field_box
        = f.text_field :price, :style => "width:100px;"
  %div.clr

  %div.field_line
    %div.field_label
      Description :
    %div.field_box
      = f.text_area :description, :style => "width:550px; height: 200px", :class => "mceEditor"
  %div.clr
  %div.field_line
    %div.field_label
      Zipcode :
    %div.field_box
      = f.text_field :zipcode
  %div.clr

  = hidden_field_tag :country, @country
  
  %div.field_line
    %div.field_label
      Privacy :
    %div.field_box
      = select_tag :privacy, options_for_select(Etro::PRIVACY_LEVELS_OPTIONS)
  %div.clr

  - if !current_user.has_valid_subscription?
    %div.field_line
      %div.field_label
        Post type :
      %div.field_box
        = select_tag :post_type, options_for_select(Etro::POST_TYPES)
    %div.clr

  %div.field_line
    %div.field_label
      Expires On :
    %div.field_box
      = f.text_field :expire_at, :placeholder => "yyyy-mm-dd", :autocomplete => "off"
  %div.clr

  %div.field_line
    %div.field_label
      Photos :
    %div.field_box
      = file_field_tag "image[]"
      %br
      = file_field_tag "image[]"
      %br
      = file_field_tag "image[]"
      %br
      = file_field_tag "image[]"
  %div.clr

  %div.field_line
    %div.field_label
      Notify my contacts :
    %div.field_box
      %ul{:class => "category"}
        %li
          = check_box_tag "notify_all_contact", "*", nil, :onclick => "uncheck_contact_list()", :id => "notify_contact_id_0"
          = label_tag :notify_contact_list, "All contacts", :for => "notify_contact_id_0", :style => "cursor: pointer; padding-right: 40%;"
        - @contact_lists.each do |li|
          %li
            = check_box_tag "notify_contact_list[]", li.id, nil, :onclick => "uncheck_notify_all()", :id => "notify_contact_id_#{li.id}"
            = label_tag :notify_contact_list, li.name, :for => "notify_contact_id_#{li.id}" , :onclick => "uncheck_notify_all()", :style => "cursor: pointer; padding-right: 40%;"
  %div.clr

  %div.field_line
    %div.field_label
    %div.field_box
      = submit_tag "Add"
      = link_to "Cancel", myopportunities_path
  %br
:javascript

  $("#new_opportunity_form").bind('submit', function() {
    $('input[type=submit]', this).attr('disabled', 'disabled');
  });

  $(function() {
    $("#opportunity_expire_at").datepicker({ dateFormat: 'yy-mm-dd'});
  });
  
  function toggle_price(code){
    if (code == 'dailydeals' || code == 'forsale'){
      $("#price_div").fadeIn('slow');
    }else{
      $("#price_div").fadeOut('slow', function() {
        $(this).hide();
      });
    }
  }
  
  function uncheck_contact_list() {
    $("input[type=checkbox]").each(function() {
      chkbox = $(this);
      if (chkbox.attr('id') != 'notify_all_contact') {
        chkbox.prop('checked', false);
      }
    });
    $("#notify_all_contact").prop('checked', true);
  }
  
  function uncheck_notify_all(){
    $("#notify_all_contact").prop('checked', false);
  }