%div{ :style => "display: none"}
  #login_form
    #h-links
      %ul
        %li
          = link_to "Access your Etroduce account", "#", :class => "active h-roundedtop"
      %div.clr

    - form_for :sessions, :url => login_path, :method => :post, :html => { :id => "h-forms" } do |f|
      %p
        %label
          Email Address
      %p
        = text_field_tag "email", nil, :class => "h-rounded", :placeholder => "email address",  :autofocus => ""
      %p
        %label
          Password
      %p
        = text_field_tag "password", nil, :type => "password", :class => "h-rounded", :placeholder => "password"
      %p
        = submit_tag "Sign in", :class => "green-btn h-rounded"
        %span{ :class => "h-forgot"}
          = link_to "Forgot Password?", forgot_password_path
      %div.clr


:javascript

  $("#h-forms").bind('submit', function() {
    $.fancybox.showActivity();

    $.ajax({
      type  : "POST",
      cache : false,
      url  : "#{login_path}",
      data  : $(this).serializeArray(),
      success: function(data) {
        if (data != " ") {
          alert(data);
        }else{
          window.location = "#{opportunities_path}";
        }

        $.fancybox.hideActivity();
      }
    });

    return false;
  });
