%h2
  Sign up with Etroduce.com and join #{@invitation.user.fullname.titleize}'s network:
%br

- form_tag confirm_path, :method => :post, :id => "confirm_contact_form" do
  = hidden_field_tag "token", params[:token]
  %div.field_line
    %div.field_label
      First name * :
    %div.field_box
      = text_field_tag :contact_firstname, @invitation.firstname
  %div.clr

  %div.field_line
    %div.field_label
      Last name * :
    %div.field_box
      = text_field_tag :contact_lastname, @invitation.lastname
  %div.clr

  %div.field_line
    %div.field_label
      Exptertise * :
    %div.field_box
      = text_field_tag :contact_expertise, @invitation.expertise
  %div.clr


  %div.field_line
    %div.field_label
      Username * :
    %div.field_box
      = text_field_tag :contact_username
  %div.clr

  %div.field_line
    %div.field_label
      Password * :
    %div.field_box
      = password_field_tag :contact_password
  %div.clr

  %div.field_line
    %div.field_label
      Zipcode * :
    %div.field_box
      = text_field_tag :contact_zipcode
  %div.clr
  

  %div.field_line
    %div.field_label
    %div.field_box
      %span{ :style => "color: red"}
        *
      Required fields
  %div.clr
  

  
  %div.field_line
    %div.field_label
    %div.field_box
      = submit_tag "Confirm and Sign Up"
      = link_to "Cancel", root_path

:javascript

  $("#confirm_contact_form").bind('submit', function() {
    
    if ($("#contact_firstname").val().length < 1) {
      alert("Please enter your first name.");
      $("#contact_firstname").focus();
      return false;
    }else if($("#contact_lastname").val().length < 1) {
      alert("Please enter your last name.");
      $("#contact_lastname").focus();
      return false;
    }else if($("#contact_username").val().length < 1) {
      alert("Please enter your username.");
      $("#contact_username").focus();
      return false;
    }else if($("#contact_password").val().length < 1) {
      alert("Please enter your password.");
      $("#contact_password").focus();
      return false;      
    }else if($("#contact_zipcode").val().length < 1) {
      alert("Please enter your zipcode.");
      $("#contact_zipcode").focus();
      return false;
    }else{
      return true;
    }
    

  });